#container{
    width: 1200px;
    height: 670px;
    overflow: hidden;
    justify-content: center;
}
#drag-img{
    position: relative;
    height: 100%;
}
button{
    width: 30px;
    height: 30px;
}
#drag-img{
    margin-top: -40px;
}