header{
    margin-top: 20px;
}
@font-face {
    font-family: trueviewFont;
    src: url(../fonts/MyriadPro-Regular.woff) format("opentype");
}
*{
    font-family: trueviewFont;
}
.header{
    margin-right: 10px;
}
#clientLogoArea{
    border-right: solid 1px #FFaF01;
    height: 150px;
    display: inline-block;
}
#clientLogoImage{
    margin: 0 auto;
    background: url("../images/client_logo.png") no-repeat center;
    width: 100%;
    height: 100px;
    background-size: contain;
}
#developerLogoArea{
    height: 100px;
    display: inline-block;
}
#iktanLogoImage{
    display: inline-block;
    background-image: url("../images/iktan_logo.png");
    background-size: contain;
    width: 80%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center top;
}
#developerLogoImage{
    display: inline-block;
    background-image: url("../images/developer_logo.jpg");
    background-size: contain;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center top;
}
#description{
    margin-top: auto;
    background-color: #D4DDE8;
    height: 100%;
    border-right: solid 10px #4A90E2;
}
#description-text{
    padding-top: 5px;
    text-align: justify;
    font-size: 1.2rem;
}

#banner-bar{
    display: inline-block;
    width: 400px;
    height: 130px;
    background: url("../images/IKTAN-true-view-banner-bar.png") no-repeat center;
    background-size: contain;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    padding-top: 15px;
}
.project-data{
    font-size: 1rem;
    color: #797979;
    text-align: center;
}
#project-number{
    border-right: solid 1px #FFaF01;
}
#navbar{
    font-size: 1.2rem;
    vertical-align: top;
    display: inline-block;
    margin: -41px 0 0 30px;
    width: 340px;
}
.navbar{
    box-shadow: 5px 15px 10px -10px gray;
    width: 100%;
    display: inline-block;
    background-color: #ffad00;
    background-image: linear-gradient(#FFB500, #FB8B00);
    background-position:left center;
    padding: 0 0 20px 0;
}
#navbar nav ul li a{
    color: white;
    padding: .5rem 1rem;
}

#navbar nav ul li a:hover{
    background: #FF7927;
    background-size: 100% 100%;
    cursor: pointer;
}
#navbar nav ul li.selected a:hover{
    background: none;
}
.selected{
    padding-left: 30px;
    margin-left: -30px;
    padding-right: 25px;
    margin-right: -25px;
    background: url("../images/IKTAN-true-view-arrow.png") no-repeat;
    background-size: 100% 50px;
    background-repeat: no-repeat;
    background-position: center;

}
.contact{
    margin-top: 10px;
    font-size:.9rem;
}
.contact p{
    margin-bottom: 0;
    color: #606060;
}
#iframeWrapper{
    display: inline-block;
    overflow: hidden;
    border-right: solid 8px #ff8700;
    width: 820px;
    height: 500px;
    margin: -100px 0 50px 10px;
    background-color: black;
    box-shadow: 5px 15px 0 -5px #ff8700;

}
#iframe-trueview{
    position: relative;
    top: -120px;
    left: -192px;
    width: 1200px;
    height: 740px;
    border: 0;
    /*-ms-transform:scale(0.68);
    -moz-transform:scale(0.68);

  -webkit-transform: scale(0.68);
    -o-transform: scale(0.68);*/
    transform:scale(0.60);
}
#iframe-trueview:-ms-fullscreen{

}
#iframeWrapper:-ms-fullscreen{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}
#iframeWrapper:-ms-fullscreen > iframe{
    width: 100%;
    height: 100%;
    transform: none;
    top: 0;
    left: 0;
}
.title{
    text-align: center;
    color: white;
}