<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrueView</title>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/fullScreenIframe.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="./platformInfo.js"></script>
    <script src="./js/listController.js"></script>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<header id="header">
    <div class="container">
        <div class="row header">
            <div class="col-3" id="clientLogoArea">
                <div id="clientLogoImage"></div>
            </div>
            <div class="col-2" id="developerLogoArea">
                <div id="developerLogoImage"></div>
                <div id="iktanLogoImage"></div>
            </div>
            <div class="col-7" id="description">
                <div id="description-text">
                    Levantamiento con escaner laser y elaboración de modelo electrónico para la verificación de interferencias para la ingeniería de un oleogasoducto de 24" diam. X 3.2 km aprox. De la plataforma pp-ayatsil-c hacia la plataforma pp-ayatsil-a (línea 01 y linea 10), a instalarse en el golfo de méxico.
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div id="banner-bar">
                <p>PLATAFORMA PP-AYATSIL-C</p>
            </div>
        </div>
        <div class="col-3">
            <div id="project-number" class="project-data">
                No. de Proyecto: por definir
            </div>
        </div>
        <div class="col-3">
            <div class="project-data">
                Fecha de levantamiento: 27/07/2018
            </div>
        </div>

    </div>
    <div ng-app="myApp" ng-controller="myCtrl" class="row">
        <div  class="col-4 col-md-4 col-lg-4 col-xl-4">
            <div  id="navbar">
                <nav class="navbar">
                            <ul ng-repeat="level in levels" class="navbar-nav">
                    
                                    <li id="{{level.name |removeSpaces}}" class="nav-item level" ng-class ="{selected:$first}">
                                        <div class="{{level.folder}}">
                                            <a class="nav-link">{{level.name}}</a>
                                        </div>
                                    </li>
                </nav>
            </div>
            <div id="iktan-information" class="contact text-right">
                <p class="text-right">www.iktansoft.com</p>
                <p class="text-right">9994-69-46-28</p>
                <p class="text-right">contacto@iktansoft.com</p>
                <p class="text-right">Copyright 2018 Iktansoft</p>
                <p class="text-right">Todos los derechos reservados</p>
            </div>
        </div>
        <div class="col-8 col-md-8 col-lg-8 col-xl-8">            
            <div id="iframeWrapper">
                <div class="row">

                    <div class="col-10 offset-1 title">
                        <h1 id="title">{{levels[0].name}}</h1>
                    </div>
                    <div class="col-1">
                        <button class="button float-right" id="fullScreenButton">FullScreen</button>
                    </div>
                </div>
                <iframe id="iframe-trueview"  src="./1N/SiteMap.htm" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>